AI SMS Appointment Setter - Twilio + Groq v2.json
{
  "name": "AI SMS Appointment Setter - Twilio + Groq v2",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "twilio-sms-agent",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "69c25f28-5554-44f5-b006-d5cead05844d",
      "name": "Twilio Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        608,
        192
      ],
      "webhookId": "twilio-sms-agent"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "field-1",
              "name": "contactId",
              "value": "={{ $json.body.From }}",
              "type": "string"
            },
            {
              "id": "field-2",
              "name": "message",
              "value": "={{ $json.body.Body }}",
              "type": "string"
            },
            {
              "id": "field-3",
              "name": "firstName",
              "value": "={{ $json.body.firstName || 'Friend' }}",
              "type": "string"
            },
            {
              "id": "field-4",
              "name": "lastName",
              "value": "={{ $json.body.lastName || '' }}",
              "type": "string"
            },
            {
              "id": "field-5",
              "name": "email",
              "value": "={{ $json.body.email || '' }}",
              "type": "string"
            },
            {
              "id": "field-6",
              "name": "phone",
              "value": "={{ $json.body.From }}",
              "type": "string"
            },
            {
              "id": "field-7",
              "name": "toNumber",
              "value": "={{ $json.body.To }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "38b5a68b-7217-4c30-96da-892ad94d6e60",
      "name": "Extract Lead Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        832,
        192
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message }}",
        "options": {
          "systemMessage": "=You are Michael, a friendly and professional appointment setter for NexaAI Solutions. Your goal is to qualify leads and book strategy calls via WhatsApp.\n\nLEAD INFORMATION:\nName: ${$('Extract Lead Data').item.json.firstName} ${$('Extract Lead Data').item.json.lastName}\nEmail: ${$('Extract Lead Data').item.json.email}\nPhone: ${$('Extract Lead Data').item.json.phone}\n\nCONTEXT:\nThis lead has requested a free AI consultation. They are a warm lead — your job is to build rapport, qualify them, and book a call.\n\nCOMMUNICATION STYLE:\n- WhatsApp only: keep messages short (1-3 sentences max)\n- Warm, casual but professional tone\n- No filler words, no excessive emojis (1 emoji max per message if natural)\n- Sound like a real human, not a bot\n- Always end every message with a question to keep conversation going\n- If lead writes in Hindi or Hinglish, reply in the same language naturally\n- Never reveal you are an AI unless directly asked\n- If asked directly, say you are an AI assistant for NexaAI Solutions\n\nQUALIFICATION FLOW (follow strictly in order):\n1. Greet them by first name warmly and confirm they requested the free AI consultation\n2. Ask what type of business they run\n3. Ask about their monthly revenue\n4. Ask about their available investment budget for growth tools\n5. Ask about their biggest pain point or goal\n6. Handle any objections naturally (see below)\n7. Based on answers, route to QUALIFIED or UNQUALIFIED outcome\n\nQUALIFICATION CRITERIA:\n- Monthly revenue: $10,000 or more\n- Investment budget: $5,000 or more\n\nOUTCOMES:\n- QUALIFIED: \"Awesome [First Name], based on what you've shared you'd be a great fit for our program! Here's a link to book a quick 20-min call with our team — no pressure at all: https://calendly.com/gujjargaurav712/30min\"\n- UNQUALIFIED: \"Thanks so much for sharing [First Name]! We actually have a perfect lower-investment AI consulting session for where you're at right now: https://calendly.com/gujjargaurav712/30min\"\n\nCOMMON OBJECTION HANDLING:\n- \"How much does it cost?\" → \"Great question! Pricing depends on your specific needs, which is exactly what the call covers. It's only 20 min and zero pressure.\"\n- \"I'm busy right now\" → \"Totally understand! The link lets you pick any time that works — even a week out: https://calendly.com/gujjargaurav712/30min\"\n- \"Not interested\" → \"No worries at all! Just so I'm not wasting your time — is it the timing or something else? Happy to help in whatever way makes sense.\"\n- \"What is NexaAI Solutions?\" → \"NexaAI Solutions helps businesses automate their sales and operations using custom AI systems — saving time and increasing revenue without hiring more staff.\"\n- \"Is this a bot?\" → \"Ha, fair question! I'm an AI assistant for NexaAI Solutions — but I'm here to genuinely help you figure out if we'd be a good fit.\"\n- \"How does AI help my business?\" → \"Great question! AI can automate your follow-ups, qualify leads, and handle repetitive tasks — so you focus only on closing deals.\"\n\nFOLLOW UP RULES:\n- If lead goes silent, send one gentle follow-up only\n- Example: \"Hey [First Name], just checking in — did you get a chance to look at that link? 😊\"\n- Never follow up more than once\n\nSCRIPT DISCIPLINE:\n- Follow the qualification flow strictly in order\n- If lead goes off-topic, acknowledge briefly and redirect back\n- Do NOT improvise outside the script\n- Do NOT skip qualification steps\n- Do NOT send calendar link before completing full qualification\n- Do NOT be pushy or salesy — be genuinely helpful"
        }
      },
      "id": "eb699e72-2d44-4b79-8dbc-8f3571d833f7",
      "name": "AI SMS Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        1056,
        192
      ]
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {
          "temperature": 0.7
        }
      },
      "id": "a704eca6-be82-4b9b-91c2-8dabee0eb128",
      "name": "Groq Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        960,
        416
      ],
      "credentials": {
        "groqApi": {
          "id": "fiVspvd3c9X4Eq9P",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Extract Lead Data').item.json.contactId }}",
        "contextWindowLength": 15
      },
      "id": "180e129f-09a3-4e7b-9dda-d560eec9b5b0",
      "name": "Conversation Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1152,
        416
      ]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "OK",
        "options": {
          "responseCode": 200
        }
      },
      "id": "a9c005de-9d87-4d6b-b6bb-6a54a61ceef2",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1584,
        160
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.twilio.com/2010-04-01/Accounts/AC8bf17dd9e0d5953983b7c20aa59ad2e7/Messages.json",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "From",
              "value": "whatsapp:+14155238886"
            },
            {
              "name": "To",
              "value": "whatsapp:+919351101199"
            },
            {
              "name": "Body",
              "value": "=={{ $('AI SMS Agent').item.json.output }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1408,
        192
      ],
      "id": "3f28a8f1-98a7-444a-a851-6d3d9e9fdf21",
      "name": "HTTP Request",
      "credentials": {
        "httpBasicAuth": {
          "id": "iW0jQsbqatBAtPFg",
          "name": "Unnamed credential"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Twilio Webhook": {
      "main": [
        [
          {
            "node": "Extract Lead Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Lead Data": {
      "main": [
        [
          {
            "node": "AI SMS Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI SMS Agent": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI SMS Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Conversation Memory": {
      "ai_memory": [
        [
          {
            "node": "AI SMS Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "25423f1f-1103-4215-bee3-dda05aeea031",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c7e3f7b78dd3a31a9f8901e16e153719dc193093f5a938d0e77f01b7546a7a7b"
  },
  "id": "YdhmPQsQFgOMgMN3",
  "tags": []
}