Daily notes to git.json
{
  "name": "Daily notes to git",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 24
            }
          ]
        }
      },
      "id": "a62c9eef-fdac-4c05-b69b-9eab54961c19",
      "name": "Schedule Morning",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -16,
        128
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 24
            }
          ]
        }
      },
      "id": "eed47857-695d-4d6a-8c6e-e2bcda09bc74",
      "name": "Schedule Afternoon",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -96,
        416
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 24
            }
          ]
        }
      },
      "id": "09310f44-7d5c-41bd-9e08-c98876ede790",
      "name": "Schedule Evening",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -112,
        704
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "Write a detailed developer learning note about one of these topics (pick randomly): Python decorators, Flask blueprints, scikit-learn Pipeline with ColumnTransformer, MySQL indexing strategies, or pandas DataFrame optimization.\n\nStructure it exactly like this:\n- 2-3 sentences explaining what you learned and why it matters\n- A real, working code example (8-15 lines) showing the concept\n- 2-3 sentences on what surprised you or what to watch out for\n- 1 sentence on what you want to explore next\n\nWrite in first person, casual developer tone. Start with 'Today I learned...'. Use ``` to wrap the code block. Plain text only.",
        "options": {
          "systemMessage": "You are a developer writing genuine daily learning notes with working code examples. Every note must include a real, copy-pasteable code snippet. Never write placeholder code. Always pick a specific, focused concept. Plain text only."
        }
      },
      "id": "1af1a056-6419-4a0b-9f71-2a849a8a6a12",
      "name": "AI Agent Morning",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        256,
        128
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "Write a detailed developer work note about something you built or debugged today. Pick randomly from: building a trading bot signal system, backtesting a moving average strategy, writing a Flask REST API with error handling, training a Random Forest with cross-validation, or designing a MySQL schema with foreign keys.\n\nStructure it exactly like this:\n- 2-3 sentences describing the problem or feature you worked on\n- A real, working code example (10-20 lines) showing your solution\n- 2-3 sentences on what went wrong first and how you fixed it\n- 1 sentence on what's left to do\n\nWrite in first person, mid-work tone. Start with 'Been working on...'. Use ``` to wrap the code block. Plain text only.",
        "options": {
          "systemMessage": "You are a developer writing afternoon work-log notes with real code. Sound like someone deep in a project. Code must contain actual logic, loops, conditions, real library usage. Plain text only."
        }
      },
      "id": "683dcbbd-714a-4bf8-8ca2-96db8fbc8f3f",
      "name": "AI Agent Afternoon",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        240,
        416
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "Write a detailed developer reflection note about a lesson from today. Pick randomly from: open-source PR workflow lessons, ML model deployment with Flask and Docker, optimizing a backtest pipeline, improving a data preprocessing step, or SQL query performance tuning.\n\nStructure it exactly like this:\n- 2-3 sentences on what you reflected on and why it matters\n- A real, working code example (8-15 lines) showing the improved version\n- 2-3 sentences comparing before vs after\n- 1 sentence on tomorrow's plan\n\nWrite in first person, calm reflective tone. Start with 'Wrapping up today...'. Use ``` to wrap the code block. Plain text only.",
        "options": {
          "systemMessage": "You are a developer writing evening reflection notes. Every note must show growth. Code examples should demonstrate a clear improvement or best practice. Sound thoughtful and experienced. Plain text only."
        }
      },
      "id": "75c1fd49-3b4a-4a14-9a93-087f15d3bd3a",
      "name": "AI Agent Evening",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        240,
        736
      ]
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {
          "temperature": 1
        }
      },
      "id": "606231aa-2b78-4ae0-bb31-d3f052eb83fb",
      "name": "Groq Model Morning",
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        256,
        288
      ],
      "credentials": {
        "groqApi": {
          "id": "ziswzLJHPeeFFBPL",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {
          "temperature": 1
        }
      },
      "id": "913f3c26-729f-440b-9266-292b37634839",
      "name": "Groq Model Afternoon",
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        240,
        576
      ],
      "credentials": {
        "groqApi": {
          "id": "ziswzLJHPeeFFBPL",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {
          "temperature": 1
        }
      },
      "id": "a8d95d06-cd61-4d46-b324-be07dc4f6a64",
      "name": "Groq Model Evening",
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        240,
        896
      ]
    },
    {
      "parameters": {
        "jsCode": "const output = $json.output;\nconst now = new Date();\nconst dateStr = `${now.getFullYear()}${String(now.getMonth()+1).padStart(2,'0')}${String(now.getDate()).padStart(2,'0')}`;\nconst idx = Math.floor(Math.random()*900)+100;\nconst dateFormatted = now.toLocaleDateString('en-US', { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' });\nconst timeFormatted = now.toLocaleTimeString('en-US', { hour: '2-digit', minute: '2-digit' });\nconst fileContent = `# ☀️ Morning Dev Note\\n\\n**Date:** ${dateFormatted}\\n**Time:** ${timeFormatted}\\n**Mood:** Learning mode 🧠\\n\\n---\\n\\n## 💡 What I Learned Today\\n\\n${output}\\n\\n---\\n\\n*Part of my [Daily-Upload](https://github.com/gaurav712-gujjar/Daily-Upload) streak — 3 notes a day, every day.*\\n`;\nreturn [{ json: { filename: `notes/${now.getFullYear()}/${String(now.getMonth()+1).padStart(2,'0')}/${dateStr}_morning_${idx}.md`, content: Buffer.from(fileContent).toString('base64'), message: `☀️ morning note [${now.toDateString()}]`, author_name: 'gaurav gujjar', author_email: 'gujjargaurav712@gmail.com', noteText: output } }];"
      },
      "id": "9234369c-83fe-4c90-9daa-cda310f8d652",
      "name": "Format Morning",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        128
      ]
    },
    {
      "parameters": {
        "jsCode": "const output = $json.output;\nconst now = new Date();\nconst dateStr = `${now.getFullYear()}${String(now.getMonth()+1).padStart(2,'0')}${String(now.getDate()).padStart(2,'0')}`;\nconst idx = Math.floor(Math.random()*900)+100;\nconst dateFormatted = now.toLocaleDateString('en-US', { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' });\nconst timeFormatted = now.toLocaleTimeString('en-US', { hour: '2-digit', minute: '2-digit' });\nconst fileContent = `# 🌤️ Afternoon Dev Note\\n\\n**Date:** ${dateFormatted}\\n**Time:** ${timeFormatted}\\n**Mood:** Build mode 🔨\\n\\n---\\n\\n## 🛠️ What I Built / Debugged\\n\\n${output}\\n\\n---\\n\\n*Part of my [Daily-Upload](https://github.com/gaurav712-gujjar/Daily-Upload) streak — 3 notes a day, every day.*\\n`;\nreturn [{ json: { filename: `notes/${now.getFullYear()}/${String(now.getMonth()+1).padStart(2,'0')}/${dateStr}_afternoon_${idx}.md`, content: Buffer.from(fileContent).toString('base64'), message: `🌤️ afternoon note [${now.toDateString()}]`, author_name: 'gaurav gujjar', author_email: 'gujjargaurav712@gmail.com', noteText: output } }];"
      },
      "id": "b1c32d48-ab0a-4247-b334-c762a132bd10",
      "name": "Format Afternoon",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        576,
        416
      ]
    },
    {
      "parameters": {
        "jsCode": "const output = $json.output;\nconst now = new Date();\nconst dateStr = `${now.getFullYear()}${String(now.getMonth()+1).padStart(2,'0')}${String(now.getDate()).padStart(2,'0')}`;\nconst idx = Math.floor(Math.random()*900)+100;\nconst dateFormatted = now.toLocaleDateString('en-US', { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' });\nconst timeFormatted = now.toLocaleTimeString('en-US', { hour: '2-digit', minute: '2-digit' });\nconst fileContent = `# 🌙 Evening Dev Note\\n\\n**Date:** ${dateFormatted}\\n**Time:** ${timeFormatted}\\n**Mood:** Reflection mode 🌿\\n\\n---\\n\\n## 🔍 End-of-Day Reflection\\n\\n${output}\\n\\n---\\n\\n*Part of my [Daily-Upload](https://github.com/gaurav712-gujjar/Daily-Upload) streak — 3 notes a day, every day.*\\n`;\nreturn [{ json: { filename: `notes/${now.getFullYear()}/${String(now.getMonth()+1).padStart(2,'0')}/${dateStr}_evening_${idx}.md`, content: Buffer.from(fileContent).toString('base64'), message: `🌙 evening note [${now.toDateString()}]`, author_name: 'gaurav gujjar', author_email: 'gujjargaurav712@gmail.com', noteText: output } }];"
      },
      "id": "47de6a52-9a75-48ca-a4c4-7a2ee5bfb29c",
      "name": "Format Evening",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        704
      ]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "gaurav712-gujjar",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "Daily-Upload",
          "mode": "list"
        },
        "filePath": "={{ $json.filename }}",
        "fileContent": "={{ $json.content }}",
        "commitMessage": "={{ $json.message }}"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        784,
        128
      ],
      "id": "deed4ef2-d426-4cf6-a170-0e50fd056d67",
      "name": "Commit Morning",
      "webhookId": "a8a3c38b-67a9-46b8-b5bd-e17d0e20cb09",
      "credentials": {
        "githubOAuth2Api": {
          "id": "3c0y0SeG5Cvkq8Mw",
          "name": "GitHub OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "gaurav712-gujjar",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "Daily-Upload",
          "mode": "list",
          "cachedResultName": "Daily-Upload",
          "cachedResultUrl": "https://github.com/gaurav712-gujjar/Daily-Upload"
        },
        "filePath": "={{ $json.filename }}",
        "fileContent": "={{ $json.content }}",
        "commitMessage": "={{ $json.message }}"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        784,
        416
      ],
      "id": "84837e3f-f301-485f-8ebd-1b42b4d962c0",
      "name": "Commit Afternoon",
      "webhookId": "2857461f-c3f1-4560-9cc6-d70f7a34a7fb",
      "credentials": {
        "githubOAuth2Api": {
          "id": "3c0y0SeG5Cvkq8Mw",
          "name": "GitHub OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "gaurav712-gujjar",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "Daily-Upload",
          "mode": "list",
          "cachedResultName": "Daily-Upload",
          "cachedResultUrl": "https://github.com/gaurav712-gujjar/Daily-Upload"
        },
        "filePath": "={{ $json.filename }}",
        "fileContent": "={{ $json.content }}",
        "commitMessage": "={{ $json.message }}"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        768,
        704
      ],
      "id": "d7e1e2df-b13f-4a26-861b-2f2f94509c92",
      "name": "Commit Evening",
      "webhookId": "1dec751d-135f-4aab-acab-3b7bdeaa1439",
      "credentials": {
        "githubOAuth2Api": {
          "id": "3c0y0SeG5Cvkq8Mw",
          "name": "GitHub OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "chatId": "6665619013",
        "text": "☀️ Good Morning! Dev note committed!\n\n📚 Topic: Morning Learning\n🕗 Time: 08:00 AM\n\n{{ $json.noteText }}\n\n🔗 github.com/gaurav712-gujjar/Daily-Upload",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1008,
        128
      ],
      "id": "bc93873c-c2f6-4884-ae8e-f69af322754e",
      "name": "Telegram Morning",
      "webhookId": "6942161b-2144-4831-b1db-0c1ad1e3e460",
      "credentials": {
        "telegramApi": {
          "id": "OMCvskL9Ai4W1Og6",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "6665619013",
        "text": "🌤️ Afternoon update! Dev note committed!\n\n🛠️ Topic: Build & Debug session\n🕑 Time: 02:00 PM\n\n{{ $json.noteText }}\n\n🔗 github.com/gaurav712-gujjar/Daily-Upload",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1040,
        416
      ],
      "id": "4656a3f7-2eca-4f48-ba09-b0b07649dfa4",
      "name": "Telegram Afternoon",
      "webhookId": "f995bb8c-4763-4f1e-8182-545c15549de3",
      "credentials": {
        "telegramApi": {
          "id": "OMCvskL9Ai4W1Og6",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "6665619013",
        "text": "🌙 Good Night! Dev note committed!\n\n🔍 Topic: Evening Reflection\n🕗 Time: 08:00 PM\n\n{{ $json.noteText }}\n\n🔗 github.com/gaurav712-gujjar/Daily-Upload",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1024,
        704
      ],
      "id": "34c046b5-b535-423b-bb54-6bc527bf3840",
      "name": "Telegram Evening",
      "webhookId": "41926b49-bd52-41c8-95aa-b58f38388898"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Morning": {
      "main": [
        [
          {
            "node": "AI Agent Morning",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Afternoon": {
      "main": [
        [
          {
            "node": "AI Agent Afternoon",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Evening": {
      "main": [
        [
          {
            "node": "AI Agent Evening",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Model Morning": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent Morning",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Groq Model Afternoon": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent Afternoon",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Groq Model Evening": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent Evening",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent Morning": {
      "main": [
        [
          {
            "node": "Format Morning",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent Afternoon": {
      "main": [
        [
          {
            "node": "Format Afternoon",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent Evening": {
      "main": [
        [
          {
            "node": "Format Evening",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Morning": {
      "main": [
        [
          {
            "node": "Commit Morning",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Afternoon": {
      "main": [
        [
          {
            "node": "Commit Afternoon",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Evening": {
      "main": [
        [
          {
            "node": "Commit Evening",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Commit Morning": {
      "main": [
        [
          {
            "node": "Telegram Morning",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Commit Afternoon": {
      "main": [
        [
          {
            "node": "Telegram Afternoon",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Commit Evening": {
      "main": [
        [
          {
            "node": "Telegram Evening",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "2cd97731-97f1-4bf2-8667-fc340acbfea2",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "03ab4da6e02988b71aebeb92571d141e77748b21fc6431a8a95ecf95fa4d69f0"
  },
  "nodeGroups": [],
  "id": "kxy4S8tlR3v4E1QR",
  "tags": []
}