Foodrins Cafe v2.json
{
  "name": "Foodrins Cafe v2",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "fb889652-2b10-4f74-8f18-265c19fe80b4",
      "name": "Telegram Trigger",
      "webhookId": "foodrins-webhook-001",
      "credentials": {
        "telegramApi": {
          "id": "4yrk41tzkt23x6CA",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const msg = $input.item.json;\nconst text = msg?.message?.text || '';\nconst chatId = msg?.message?.chat?.id || '';\nconst firstName = msg?.message?.from?.first_name || 'Customer';\n\nreturn [{\n  json: {\n    message_text: text,\n    chat_id: chatId,\n    first_name: firstName\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        0
      ],
      "id": "3ffe6018-f080-42b1-976d-44b00806719e",
      "name": "Extract Message"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message_text }}",
        "options": {
          "systemMessage": "You are a friendly food ordering assistant for Foodrinks Cafe.\n\nYou have access to these tools:\n- get_inventory: Use this to fetch available dishes from the menu\n- add_order: Use this to save a confirmed order\n- get_orders: Use this to check order status\n- get_faq: Use this to answer FAQ questions\n\nSTRICT RULES:\n\n1. GREETING (hi, hello, start, hey):\nReply exactly:\nWelcome to Foodrinks Cafe\nHow can I help you today?\n- Place an order\n- View menu\n- Check order status\n- FAQ\n\n2. MENU or AVAILABLE DISHES or WHAT TO EAT:\n- Call get_inventory tool IMMEDIATELY\n- Show all items where Status is Available\n- Format: Item name - Quantity available\n- Never reply about menu without calling get_inventory first\n\n3. PLACE ORDER:\n- Step 1: Ask customer name\n- Step 2: Ask which dish\n- Step 3: Ask quantity\n- Step 4: Call get_inventory to check stock\n- If stock available: Call add_order tool to save order, then reply order confirmed\n- If out of stock: Call get_inventory again and show available dishes\n\n4. CHECK ORDER STATUS:\n- Ask customer name\n- Call get_orders tool\n- Show their order status\n\n5. FAQ:\n- Call get_faq tool\n- Answer based on data from sheet\n\n6. CANCEL ORDER:\n- Reply: Sorry, I cannot cancel orders directly. Please call the restaurant owner. Owner Contact: +95 1224567890\n\nREPLY STYLE:\n- Always short and friendly\n- Like WhatsApp chat\n- No markdown, no bold, no special symbols\n- Never assume stock - always check get_inventory tool first\n- Customer name from context: {{ $json.first_name }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        480,
        0
      ],
      "id": "ea90e84c-ad4b-4510-a8dc-98bb97a05b1a",
      "name": "Foodrinks_Cafe_Agent"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Extract Message').item.json.chat_id }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        480,
        208
      ],
      "id": "2db7af3f-b60f-49c7-acb1-5cb349611b09",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "operation": "getRows",
        "documentId": {
          "__rl": true,
          "value": "1pH2aA21wZFWn4gQaLCWVXZgemujCJXPCjSDctbMNajM",
          "mode": "id"
        }
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        640,
        208
      ],
      "id": "2a8466c8-9d47-4e3e-b563-0c044717aee5",
      "name": "get_inventory",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "m5W3uEll4Yjj5s4e",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "getRows",
        "documentId": {
          "__rl": true,
          "value": "1pH2aA21wZFWn4gQaLCWVXZgemujCJXPCjSDctbMNajM",
          "mode": "id"
        }
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        784,
        208
      ],
      "id": "78f14762-4de9-4251-a80c-de31e66d2749",
      "name": "get_faq",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "m5W3uEll4Yjj5s4e",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "getRows",
        "documentId": {
          "__rl": true,
          "value": "1pH2aA21wZFWn4gQaLCWVXZgemujCJXPCjSDctbMNajM",
          "mode": "id"
        }
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        928,
        208
      ],
      "id": "1f210ab3-5074-4480-bf63-64721cbf43e9",
      "name": "get_orders",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "m5W3uEll4Yjj5s4e",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1pH2aA21wZFWn4gQaLCWVXZgemujCJXPCjSDctbMNajM",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Orders",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Customer Name": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Customer_Name', ``, 'string') }}",
            "Food Item": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Food_Item', ``, 'string') }}",
            "Quantity": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Quantity', ``, 'string') }}",
            "Status": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Status', ``, 'string') }}",
            "Order Date": "={{ $now.format('yyyy-MM-dd HH:mm:ss') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Customer Name",
              "displayName": "Customer Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Food Item",
              "displayName": "Food Item",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Quantity",
              "displayName": "Quantity",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Order Date",
              "displayName": "Order Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        1072,
        208
      ],
      "id": "1ea837a5-52b2-415c-b84f-573a702dd5dc",
      "name": "add_order",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "m5W3uEll4Yjj5s4e",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Extract Message').item.json.chat_id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        864,
        -16
      ],
      "id": "015b3bf0-5136-4579-8932-2d676e57dadc",
      "name": "Send Reply",
      "webhookId": "0cbeebd1-aaca-4ec0-853f-33538aeb5402",
      "credentials": {
        "telegramApi": {
          "id": "4yrk41tzkt23x6CA",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        352,
        208
      ],
      "id": "4d7c4dd1-e813-4f9e-ba74-d6eb099bbaaa",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "fiVspvd3c9X4Eq9P",
          "name": "Groq account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Extract Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Message": {
      "main": [
        [
          {
            "node": "Foodrinks_Cafe_Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Foodrinks_Cafe_Agent": {
      "main": [
        [
          {
            "node": "Send Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Foodrinks_Cafe_Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "get_inventory": {
      "ai_tool": [
        [
          {
            "node": "Foodrinks_Cafe_Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "get_faq": {
      "ai_tool": [
        [
          {
            "node": "Foodrinks_Cafe_Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "get_orders": {
      "ai_tool": [
        [
          {
            "node": "Foodrinks_Cafe_Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "add_order": {
      "ai_tool": [
        [
          {
            "node": "Foodrinks_Cafe_Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Foodrinks_Cafe_Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "194894ef-9a52-4281-b4ca-f4529e1b23be",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c7e3f7b78dd3a31a9f8901e16e153719dc193093f5a938d0e77f01b7546a7a7b"
  },
  "id": "a6ul96AUv7EyEdiK",
  "tags": []
}